body{
  font-size: 2.0em;
  font-family: "IM Fell English", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #101033;
/*  background:url('background.gif') repeat-x left top;*/
/*  background-color:#212121;*/
}

/*h1#logo {background: url('small_by_design_logo.png') no-repeat left top; text-indent:-1000px;height:150px;}*/
h1 {
  margin-left:100px;
  color:#3f3f3f;
}
h1 strong {
  color: #ee1e3a;
  color: #ff3030;
}

li {
  margin-left: 170px;
  padding:3px;
  font-size:1.2em;
}

li.em {
  font-weight:bold;
}

#footer {
  position:relative;
}

#footer img {
  position:absolute;
  top:-100px;
  right:200px;
}
